/* class Container */
.container {
    width: 1140px;
    margin: 0 auto;
}

/* class header  */
.Header {
    height: 100%;
    display: flex;
}

/* class bodypart */
.BodyPart {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* class Footer */
.Footer {
    height: 100%;
    display: flex;
}

/* phần bên trái của class header  */
.HeaderLeft {
    display: flex;
    flex: 1;
}

/* phần bên phải của class header  */
.HeaderRight {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

/* Class Url */
.Url {
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

/* a ở .Url */
.Url>a {
    font-weight: 200;
    font-size: 30px;
    text-decoration: none;
}

/* pseudo class của a*/
a:link {
    color: black;
}

a:visited {
    color: black;

}

a:hover {
    color: rgb(157, 15, 15);

}

a:active {
    color: rgb(23, 110, 172);
}

/* class UpperBodyPart */
.UpperBodyPart {
    /* Đặt phần tử cha ở chế độ relative*/
    position: relative;
    display: flex;
    height: 45%;
    width: 100%;
    background-color: beige;
}

/* image luyện tập 1 ở UpperBodyPart*/
.UpperBodyPart>img {
    width: 100%;
    height: 100%;
}

.OverlayText {
    /* Đặt phần tử con ở chế độ absolute */
    position: absolute;
    /* Di chuyển phần tử con từ phía trái sang phải */
    left: 50%;
    /* Di chuyển phần tử con từ trên xuống */
    top: 15%;
    /* Dịch chuyển phần tử để căn chính giữa */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

}

/* thẻ h1 trong class OverlayText*/
.OverlayText h1 {
    /* Set margin của thẻ h1 về 0*/
    margin: 0;
    /* Set lại margin của thẻ h1 */
    margin: -80px 0px -10px 0px;
    /* Độ đậm của font chữ */
    font-weight: 300;
    /* Set kích cỡ của dòng chữ */
    font-size: 36px;
    /* Màu chữ */
    color: aliceblue;

}

/* thẻ p trong class OverlayText*/
.OverlayText p {
    /* Độ đậm của font chữ */
    font-weight: lighter;
    /* Căn text ở giữa so với class OverlayText */
    text-align: center;
    /* Màu chữ */
    color: rgb(193, 201, 209);
}

/* class MiddleBodyPart*/
.MiddleBodyPart {
    display: flex;
    flex-direction: column;
    height: 8%;
    width: 100%;
}

/* thẻ p trong class MiddleBodyPart*/
.MiddleBodyPart h3 {
    /* Set margin của thẻ h3 */
    margin-bottom: 5px;

}

/* class LoweBodyPart */
.LowerBodyPart {
    height: 45%;
    width: 100%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

/* Row bên trái của LoweBodyPart*/
.LeftRow {
    display: flex;
    flex-direction: column;
}

/* Row ở giữa của LoweBodyPart */
.CenterRow {
    display: flex;
    flex-direction: column;
}

/* Row bên phải của LoweBodyPart */
.RightRow {
    display: flex;

}

/* Row phía trên trong LeftRow và RightRow  */
.UpperRow {
    display: flex;
    height: 50%;
    margin-bottom: 6px;
}

/* Row phía dưới trong LeftRow và RightRow */
.LowerRow {
    display: flex;
    height: 50%;
    margin-top: 6px;
}

/* image của class UpperRow */
.UpperRow img {
    width: 95%;
    height: 100%;
    border-radius: 6px;
}

/* image của class LowerRow */
.LowerRow img {
    width: 95%;
    height: 100%;
    border-radius: 6px;
}

/* Image của class RightRow */
.RightRow img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

/* Left footer*/
.LeftFooter {
    display: flex;
    flex: 7;
    flex-direction: column;
}

/* Right footer */
.RightFooter {
    display: flex;
    flex: 3;
    flex-direction: column;
}

/* Thẻ p trong class Footer */
.Footer p {
    /* Set margin về 0 */
    margin: 0;
    /* Set lại margin của thẻ p */
    margin: 6px 0px 6px 0px;
}