.container-fluid {
    background-color: #000000;
    /* Chỉnh khoảng cách để không trùng với header */
    padding-top: 120px;

}

#pubg-icon {
    width: 80px;
}

#akm-icon {
    width: 80px;

}

/* Chỉnh action của nav-item */
.nav-item>a:link {
    color: aliceblue;
}

.nav-item>a:visited {
    color: aliceblue;
}

.nav-item>a:hover {
    color: brown;
}

.nav-item>a:active {
    color: rgb(43, 43, 161);
}

/* Tạo 1 backdrop-filter cho navbar */
.navbar {
    border: 3px solid #ffffff1d;
    border-radius: 10px;
    backdrop-filter: blur(3px);
}

#Pubg-wallpaper {
    height: auto;
    width: 30%;
}

.overlay-text {
    /* Di chuyển phần tử con từ phía trái sang phải */
    left: 50%;
    /* Di chuyển phần tử con từ trên xuống */
    top: 20%;
    /* Dịch chuyển phần tử để căn chính giữa */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;

}

/* thẻ h1 trong class OverlayText*/
.overlay-text h1 {
    /* Set margin của thẻ h1 về 0*/
    margin: 0;
    /* Set lại margin của thẻ h1 */
    margin: -60px 0px 0px 40px;
    /* Độ đậm của font chữ */
    font-weight: 300;
    /* Set kích cỡ của dòng chữ */
    font-size: 40px;
    /* Màu chữ */
    color: aliceblue;
}

/* thẻ p trong class OverlayText*/
.overlay-text p {
    /* Độ đậm của font chữ */
    font-weight: lighter;
    /* Căn text ở giữa so với class OverlayText */
    text-align: center;
    /* Màu chữ */
    color: aliceblue;
}

/* Chỉnh vị trí text nếu là tablet  */
@media screen and (max-width: 1023px) {

    /* Chỉnh kích thước của img dưới đây nếu là tablet  */
    #Pubg-wallpaper {
        height: auto;
        width: 20%;
        margin-left: 40px;
    }

    /* thẻ h1 trong class OverlayText*/
    .overlay-text h1 {
        /* Set margin của thẻ h1 về 0*/
        margin: 0;
        /* Set lại margin của thẻ h1 */
        margin: -50px 0px 0px 50px;
        /* Độ đậm của font chữ */
        font-weight: 300;
        /* Set kích cỡ của dòng chữ */
        font-size: 30px;
        /* Màu chữ */
        color: aliceblue;
    }

    /* thẻ p trong class OverlayText*/
    .overlay-text p {
        /* Độ đậm của font chữ */
        font-weight: lighter;
        /* Căn text ở giữa so với class OverlayText */
        text-align: center;
        /* Màu chữ */
        color: aliceblue;
    }
}

/* Chỉnh vị trí text nếu là mobile */
@media screen and (max-width: 767px) {

    /* Chỉnh kích thước của img dưới đây nếu là moblie  */
    #Pubg-wallpaper {
        height: auto;
        width: 30%;
        margin-left: 20px;
    }

    /* thẻ h1 trong class OverlayText*/
    .overlay-text h1 {
        /* Set margin của thẻ h1 về 0*/
        margin: 0;
        /* Set lại margin của thẻ h1 */
        margin: -30px 0px 0px 20px;
        /* Độ đậm của font chữ */
        font-weight: 300;
        /* Set kích cỡ của dòng chữ */
        font-size: 15px;
        /* Màu chữ */
        color: aliceblue;
        text-align: center;
    }

    /* thẻ p trong class OverlayText*/
    .overlay-text p {
        /* Độ đậm của font chữ */
        font-weight: lighter;
        /* Căn text ở giữa so với class OverlayText */
        text-align: center;
        /* Set kích cỡ của dòng chữ */
        font-size: 8px;
        /* Màu chữ */
        color: aliceblue;
        margin-left: 15px;
    }
}

/* chỉnh chiều dài của krafton-icon ở footer */
#krafton-icon {
    width: 220px;
}

/* Chỉnh màu phông chữ ở footer */
.row>p {
    color: aliceblue;
}

/* Chỉnh màu của các đường link ở footer */
/* facebook */
#facebook:link {
    color: #0866FF;
}

#facebook:visited {
    color: #0866FF;
}

#facebook:hover {
    color: brown;
}

#facebook:active {
    color: rgb(12, 12, 49);
}

/* google */
#google:link {
    color: #FFFFFF;
}

#google:visited {
    color: #FFFFFF;
}

#google:hover {
    color: brown;
}

#google:active {
    color: rgb(12, 12, 49);
}

/* discord */
#discord:link {
    color: #5567E3;
}

#discord:visited {
    color: #5567E3;
}

#discord:hover {
    color: brown;
}

#discord:active {
    color: rgb(12, 12, 49);
}

/* Youtube */
#youtube:link {
    color: #FF0000;
}

#youtube:visited {
    color: #FF0000;
}

#youtube:hover {
    color: brown;
}

#youtube:active {
    color: rgb(12, 12, 49);
}

/* css ở lower-main của spec.html như sau */

#ammo {
    width: 15%;
    height: auto;
}


/* upper-row  */
.upper-row>span {
    color: #F1FFFF;
}

/* lower-row */
.lower-row {
    display: flex;
    width: 100%;
    background-color: #4C4C4E;
}

.lower-row-percent {
    display: flex;
    justify-content: center;
    background-color: #F2AA00;
}

/* Kích thước của cột sát thương trên 1 viên đạn */

.damage-row .lower-row-percent {
    width: 49%;
    animation: damage 5s ease-in 0.5s 1;
}

@keyframes damage {
    from {
        width: 0%;
    }

    to {
        width: 49%;
    }
}

/* Kích thước của cột tốc độ bắn */

.speed-row .lower-row-percent {
    width: 60%;
    animation: speed 5s ease-in 0.5s 1;
}

@keyframes speed {
    from {
        width: 0%;

    }

    to {
        width: 60%;
    }
}

/* Kích thước của cột độ ổn định */

.stability-row .lower-row-percent {
    width: 30%;
    animation: stability 5s ease-in 0.5s 1;
}

@keyframes stability {
    from {
        width: 0%;
    }

    to {
        width: 30%;
    }
}

/* Kích thước của cột DPS */

.DPS-row .lower-row-percent {
    width: 69%;
    animation: DPS 5s ease-in 0.5s 1;
}

@keyframes DPS {
    from {
        width: 0%;
    }

    to {
        width: 69%;
    }
}

/* Kích thước của cột Sơ tốc đầu nòng  */
.muzzle-velocity-row .lower-row-percent {
    width: 55%;
    animation: muzzle-velocity 5s ease-in 0.5s 1;
}

@keyframes muzzle-velocity {
    from {
        width: 0%;
    }

    to {
        width: 55%;
    }
}

/* Kích thước của cột phạm vi hiệu quả */
.effective-range-row .lower-row-percent {
    width: 53%;
    animation: effective-range 5s ease-in 0.5s 1;
}

@keyframes effective-range {
    from {
        width: 0%;
    }

    to {
        width: 53%;
    }
}

/* Chỉnh màu chữ của figcaption */
figcaption {
    color: #EAF2F9;
}